extends ../layout

block content
  h1.title Editing #{user.username}

  .columns
    .column
      form(action=`/users/${user._id}`, method="POST")
        .field
          label.label Username
          input.input(type="text", name="username", autofocus, value=user.username required)
        .field
          label.label Email
          input.input(type="email", name="email", value=user.email required)
        .field
          input.button(type="submit", value="Update")

  .columns
    .column
      .field.has-addons
        form(action=`/users/${user._id}/delete`, method="POST")
          a.button.is-small(href=`/users/${user._id}`) Cancel
          input.button.is-small(type="submit", value="Delete")
